h1 {
    text-align: center;
    margin-top: 20px;
    color: #FBFAF9;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 36px;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    color: #8F655E;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;  
}

h3 {
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #221b48;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    height: 70px;  
}

body {
    background-color: #121736;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    color: rgb(196, 196, 196);
}

main {
    width: 80%;
    max-width: 1000px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
}

a {
    color: #9C95B0;
}

a:hover {
    color: #FBFAF9;
}

.greeting {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #110e27e3;
    border-radius: 1em;
}

p {
    word-spacing: 1.5px;
    line-height: 140%;
}

.project {
    margin: 1%;
    padding-left: 40px;
    padding-right: 40px;
    min-width: 200px;
    max-width: 400px;
    background-color: #FBFAF9;
    border-radius: 1em;
    flex: 440px;
}

.project_img {
    display: block;
    max-width: 200px;
    margin: auto auto;
    height: 200px;
}

.portfolio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    background-color: #9793a542;
    color: #262157e5;
    border-radius: 1em;
    justify-content: center;
}

hr {
    color:#9C95B0;
    width: 90%;
    margin-top: 10px;
}

input[type="submit"] {
    background-color: #262157ce;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    color:#FBFAF9;
    box-shadow: 2px 2px 2px 1px rgba(55, 55, 55, 0.3);
    border-style: none;
    margin-bottom: 25px;
    padding: 5px;
}

footer {
    width: 80%;
    margin: auto;
    font-size: 12px;
    color: #998FAB;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tech {
    font-style: italic;
}
