h1 {
    text-align: center;
    margin-top: 0px;
}

h2 {
    font-size: 24px;
}

body {
    background-color: rgba(229, 229, 229, 0.574);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main {
    padding: 50px;
    width: 75%;
    margin: auto;
    font-size: 14px;
}

footer {
    width: 80%;
    margin: auto;
    font-size: 14px;
}

a {
    color: darkblue;
}

a:hover {
    color: lightskyblue;
}
