h1 {
    text-align: center;
}

h2 {
    font-size: 24px;
}

body {
    background-color: rgba(229, 229, 229, 0.574);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.main {
    padding: 50px;
    width: 80%;
    margin: auto;
}

footer {
    width: 80%;
    margin: auto;
    text-align: center;
}