<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tag: {{ page.tag }}</title>
  <link rel="stylesheet" href="{{ '/assets/styles.css' | relative_url }}">
</head>
<body>

  <main>
    <div class="container">
      <h1>Posts tagged: "{{ page.tag }}"</h1>
      <ul>
        {% for post in site.tags[page.tag] %}
        <li>
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
          <span> - {{ post.date | date: "%B %d, %Y" }}</span>
        </li>
        {% endfor %}
      </ul>
    </div>
  </main>

</body>
</html>